body {
	position: relative;
}
ul.nav-pills {
	top: 20px;
	position: fixed;
	max-width: 190px;
}
div.col-sm-9 div {
	min-height: 50px;
	font-size: 28px;
	padding: 5px;
	margin: 5px;
}
div.col-sm-9 section {
	min-height: 250px;
	font-size: 28px;
	padding: 5px;
	margin: 5px;
}

#about {color: #fff; background-color: teal;}
#experience {color: #fff; background-color: cyan;}
#projects {color: #fff; background-color: indigo;}
#skills {color: #fff; background-color: purple;}
#awards {color: #fff; background-color: red;}
#education {color: #fff; background-color: orange;}
#contact {color: #fff; background-color: brown;}
#resume {color: #fff; background-color: grey;}

@media screen and (max-width: 810px) {
	div.col-sm-9 section {
	  margin-left: 150px;
  	}
	div.col-xs-0 {
		top: 0px;
		position: fixed;
		width: 0px;
		this.hide();
	}
}